/* @Autor: Douglas Julião */
/* GRID - Responsive 4 columns */
.grid,.grid-2{
    width: 85.7%;
    display: inline-block;
    position:relative;
    margin: 0 -1px;
    position:relative;
}
.grid{left: 1px;}
.grid-2{
    margin: 0;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.grid-2:first-child{width: 72.3%;}

html{overflow-x:hidden;}
body{ font-family: 'Roboto', sans-serif; }
.container{padding:10px;}

/* SHELF - CAROUSEL */
.shelf{ background:#FFF;width: 100%; }

.carousel .title{
    display:inline-block;
    text-align: center;
    font-weight: bold;
}
.interesting-sm{display: block !important;text-align: left !important;}

.products{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.item{
    background-color: #FFF;
    border: 1px solid #F1F0F1;
    height: auto;
    transition:0.6s;
    z-index: 1;
}
.item .responsive-img{
    width: 68%;
    margin: 0 auto;
    display: block;
    padding: 40px 0;
}
.item .description{ height: 92px; }
.item .description,
.item .price{ padding: 0 30px; }
.item .btn-container{padding: 8px 27px 16px 23px;}
.item .price strong{
    font-size: 20px;
    margin: 0 5px;
}
.item .btn{
    width: 95%;
    margin: 0 auto;
    background:none;
    border:1px solid #F1F0F1;
    padding: 20px 2.1%;
    position:relative;
    color: #5A6369;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
    text-align: center;
    visibility: hidden;
    opacity:0;
    transition:0.5s;
}
.item .btn .material-icons{
    position: absolute;
    right: 6px;
    top: 15px;
    font-size: 32px;
}
.item .add-cart:before{
    content:'';
    width: 0;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#FFF;
    transition:0.5s;
}
.item:hover{
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top,#FFFFFF, #F4F4F4);
    background: linear-gradient(to top,#FFFFFF, #F4F4F4);
    height: auto;
}
.item:hover .add-cart{ 
    visibility: visible; 
    opacity:1;
}
.add-cart:hover:before{
    width: 8px;
    background:#FF6F0F;
}
.add-cart:hover .material-icons{
    color:#FF6F0F;
}
.nav-carousel{width: 70%;display: block;margin: 55px auto 15px;z-index: 2;}
.nav-carousel div{
    width: 15px;
    height: 15px;
    background: #ababab;
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
    border-radius: 50%;
    position:relative;
}
.nav-carousel div.active:before{
    content: '';
    width: 100%;
    height:100%;
    z-index:3; 
    background: #363f4e;
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
p strong{ color:#404858; }

/* RESPONSIVE MEDIAQUERIES */
@media screen and (min-width: 800px){
    .grid{width: 44.7%;}
    .grid-2{width: 65% !important;}
    .grid-2:first-child {width: 29.6% !important; z-index:3}
    .carousel .title{ 
        width:auto; 
        margin-right:20px; 
    }
    .item{height: 553px;}
    .interesting-sm{/* display:none !important; */margin-top: -47px;z-index: 3;}
}
@media screen and (min-width: 1280px){
    .grid{width: 33.32%;}
    .grid-2 {width: 74.63% !important;}
    .grid-2:first-child{width: 25.22% !important;}
    .item{height: 594px;}
}
@media screen and (max-width: 800px){
    .grid-2 { flex-basis: 100%; }
    .grid {width: 95%;}
    .item .add-cart{ 
        visibility: visible; 
        opacity:1;
    }
    .nav-carousel{margin: 86px 36px;position: absolute;bottom: 0;}
    .nav-carousel .nav{ 
        width:20px;
        height:20px;
    }
    html{overflow-x:hidden;}
}