/* @Autor: Douglas Julião */
/* GRID - Responsive 4 columns */
.grid{
    width:99.7%;
    background:#666;
    display: inline-block;
    position:relative;
    margin: 0.15%;
}

body{ font-family: 'Roboto', sans-serif; }
.container{ padding:10px; }

/* SHELF - CAROUSEL */
.shelf{ background:#FFF; }

.carousel .title{
    display:inline-block;
    margin: 3px 0 17px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.products{ position:relative; }
.item{
    padding: 2.6%;
    background-color: #FFF;
    border: 1px solid #F1F0F1;
    cursor:pointer;
    height: 477px;
    transition:0.6s;
}
.item .responsive-img{
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 40px;
}
.item .description{}
.item .price strong{
    font-size: 20px;
    margin: 0 5px;
}
.item .btn{
    width: 95%;
    margin: 0 auto;
    background:none;
    border:1px solid #F1F0F1;
    padding: 20px 2.1%;
    position:relative;
    color: #5A6369;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    visibility: hidden;
    opacity:0;
    transition:0.5s;
}
.item .btn .material-icons{
    position: absolute;
    right: 6px;
    top: 15px;
    font-size: 32px;
}
.item .add-cart:before{
    content:'';
    width: 0;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:#FFF;
    transition:0.5s;
}
.active{
    background: #FFFFFF;
    background: -webkit-linear-gradient(to top,#FFFFFF, #F4F4F4);
    background: linear-gradient(to top,#FFFFFF, #F4F4F4);
    height:auto;
}
.active .add-cart{ 
    visibility: visible; 
    opacity:1;
}
.add-cart:hover:before{
    width: 8px;
    background:#FF6F0F;
}
.add-cart:hover .material-icons{
    color:#FF6F0F;
}
.nav-carousel{}
.nav-carousel span{}

/* RESPONSIVE MEDIAQUERIES */
@media screen and (min-width: 800px){
    .grid{width: 44%;}
    .carousel .title{ 
        width:auto; 
        margin-right:20px; 
    }
}
@media screen and (min-width: 1280px){
    .grid{ width: 19.12%;}
}